
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');


$font-body: "Aboreto", sans-serif;
$color-black: rgb(22, 21, 21);
$color-white: rgb(240, 236, 221);


html {
    background-color: $color-black;
}


.container {

    background-image: url(./image/image.jpeg);
    margin: 20 auto;


    &__calculator {
        width: 320px;
        height: 520px;
        background-color: lightgrey;
        margin: 0px auto;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color:grey;
    font-size: 15px;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}


#keyboard {
    height: 450px;
}

.operator {

    &__function {
        width: 60px;
        height: 60px;
        margin: 10px;
        float:left;
        border-radius: 50%;
        border-width: 0;
        font-family: $font-body;
        font-weight: bold;
        font-size: 20px;
        
    }

    &__number {
        width: 60px;
        height: 60px;
        margin: 10px;
        float:left;
        border-radius: 15px;
        border-width: 0;
        font-family: $font-body;
        font-weight: bold;
        font-size: 20px;
    }

    &__zero {
        width: 140px;
        height: 60px;
        margin: 10px;
        float:left;
        border-radius: 15px;
        border-width: 0;
        font-family: $font-body;
        font-weight: bold;
        font-size: 20px;
    }

    

}

