
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');


$font-body: "Aboreto", sans-serif;
$color-black: rgb(22, 21, 21);
$color-white: rgb(240, 236, 221);
$color-darkgrey: rgb(68, 67, 82);
$color-lightgrey:rgb(189, 184, 184);
$color-orange: rgb(234, 111, 17);


html {
    background-color: $color-black;
}


.container {

    background-image: url(./image/image.jpeg);
    margin: 0;


    &__calculator {
        width: 320px;
        height: 520px;
        background-color: lightgrey;
        margin: 0px auto;
        position: relative;
        border-radius: 5px;
        box-shadow: 11px 17px 17px 0 rgb(233 224 224 / 30%), 12px 11px 20px 0 rgb(78 75 75 / 19%);
    }
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color:grey;
    font-size: 15px;
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}


#keyboard {
    height: 450px;
}

.operator {

    &__function {
        width: 60px;
        height: 60px;
        margin: 10px;
        padding: 0px;
        float:left;
        border-radius: 50%;
        border-width: 0;
        font-family: $font-body;
        font-weight: bold;
        font-size: 22px;
        color: $color-white;
        background-color:$color-darkgrey ;
    }

    &__number {
        width: 60px;
        height: 60px;
        margin: 10px;
        padding: 0px;
        float:left;
        border-radius: 15px;
        border-width: 0;
        font-family: $font-body;
        font-weight: bold;
        font-size: 22px;
        background-color: $color-lightgrey;
    }

    &__zero {
        width: 140px;
        height: 60px;
        margin: 10px;
        padding: 0px;
        float:left;
        border-radius: 15px;
        border-width: 0;
        font-family: $font-body;
        font-weight: bold;
        font-size: 22px;
        background-color: $color-lightgrey;
    }

    &__function:active, &__number:active, &__zero:active {
        font-size: 16px;
    }

}

button:nth-child(19) {
    background-color: $color-orange;
}

