@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
html {
  background-color: #161515;
}

.container {
  background-image: url(./image/image.jpeg);
  margin: 0;
}
.container__calculator {
  width: 320px;
  height: 520px;
  background-color: lightgrey;
  margin: 0px auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 11px 17px 17px 0 rgba(233, 224, 224, 0.3), 12px 11px 20px 0 rgba(78, 75, 75, 0.19);
}

#result {
  height: 120px;
}

#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: grey;
  font-size: 15px;
}

#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}

#keyboard {
  height: 450px;
}

#zero {
  width: 140px;
  height: 60px;
  margin: 10px;
  padding: 0px;
  float: left;
  border-radius: 15px;
  border-width: 0;
  font-family: "Aboreto", sans-serif;
  font-weight: bold;
  font-size: 22px;
  background-color: #bdb8b8;
}

.operator__function {
  width: 60px;
  height: 60px;
  margin: 10px;
  padding: 0px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-family: "Aboreto", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #f0ecdd;
  background-color: #444352;
}
.operator__number {
  width: 60px;
  height: 60px;
  margin: 10px;
  padding: 0px;
  float: left;
  border-radius: 15px;
  border-width: 0;
  font-family: "Aboreto", sans-serif;
  font-weight: bold;
  font-size: 22px;
  background-color: #bdb8b8;
}
.operator__function:active, .operator__number:active, .operator__zero:active {
  font-size: 16px;
}

button:nth-child(19) {
  background-color: #ea6f11;
}